{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="OpenHasp">OpenHasp</a></li>
{% endblock %}
{% block module %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Settings
</button>
<a href="?op=add" class="btn btn-primary" title="Add">Add device</a>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Title</th>
                <th>Path</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td class="py-1">{{ device.title }}</td>
                <td class="py-1">{{ device.mqtt_path }}</td>
                <td  class="py-1" width="1%" nowrap>
                    <div>
                        <a href="?op=reloadpage&device={{device.id}}" class="btn btn-warning" title="Reload pages"><i class="fas fa-sync-alt"></i></a>
                        <button onclick="showScreenshot('{{ device.ip }}',{{ device.id }});" data-bs-toggle="modal" data-bs-target="#screenshot" class="btn btn-secondary" title="Screenshot"><i class="fas fa-camera"></i></button>
                        <a href="http://{{ device.ip }}"  target="_blank" class="btn btn-primary" title="Device UI"><i class="fas fa-link"></i></a>
                        <a href="?op=edit&device={{device.id}}" class="btn btn-secondary" title="Edit"><i class="feather icon-edit"></i></a>
                        <a href="?op=delete&device={{device.id}}" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger" title="Delete"><i class="feather icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <!-- Модальное окно с настройками -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Поля формы -->
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.host.label(class="form-label") }}
                        {{ form.host(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.port.label(class="form-label") }}
                        {{ form.port(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.login.label(class="form-label") }}
                        {{ form.login(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.topic.label(class="form-label") }}
                        {{ form.topic(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var current_ip = "";
        var current_id = "";
        function showScreenshot(ip, id){
            current_ip = ip;
            current_id = id;
            document.getElementById('image_screenshot').src="http://"+ip+"/screenshot?q="+Date.now();
        }
        function goPage(page){
            fetch("/api/OpenHasp/page/"+current_id+"/"+page)
                .then((response) => response.json())
                .then((json) => {
                    console.log(json);
                    document.getElementById('image_screenshot').src="";
                    showScreenshot(current_ip, current_id);
                });
            
        }
        function refresh(){
            document.getElementById('image_screenshot').src="";
            showScreenshot(current_ip, current_id);
        }
    </script>


<div class="modal fade" id="screenshot" tabindex="-1" role="dialog" aria-labelledby="screenshot" aria-hidden="true">
    <!-- <div id="about" class="modal hide"> -->
        <div class="modal-dialog modal-lg" style="max-width:580px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Screenshot</h4>
                </div>
                <div class="modal-body" align="center">
                    <img id="image_screenshot" src="">
                </div>
                <div class="modal-body">
                <button onclick="refresh();" class="btn btn-default" title="Refresh"><i class="glyphicon glyphicon-refresh"></i></button>
                <button onclick="goPage(1);" class="btn btn-default" title="Page 1">1</button>
                <button onclick="goPage(2);" class="btn btn-default" title="Page 2">2</button>
                <button onclick="goPage(3);" class="btn btn-default" title="Page 3">3</button>
                <button onclick="goPage(4);" class="btn btn-default" title="Page 4">4</button>
                <button onclick="goPage(5);" class="btn btn-default" title="Page 5">5</button>
                <button onclick="goPage(6);" class="btn btn-default" title="Page 6">6</button>
                <button onclick="goPage(7);" class="btn btn-default" title="Page 7">7</button>
                <button onclick="goPage(8);" class="btn btn-default" title="Page 8">8</button>
                <button onclick="goPage(9);" class="btn btn-default" title="Page 9">9</button>
                <button onclick="goPage(10);" class="btn btn-default" title="Page 10">10</button>
                <button onclick="goPage(11);" class="btn btn-default" title="Page 11">11</button>
                <button onclick="goPage(12);" class="btn btn-default" title="Page 12">12</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}