{% extends "layouts/module_admin.html" %}
{% from "macros/code_editor.html" import render_editor %}

{% block title %} OpenHasp Device {% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="OpenHasp">{{ _('OpenHasp')}}</a></li>
<li class="breadcrumb-item">{{form.title.data}}</li>
{% endblock %}

{% block module %}

{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{field}}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
<h2>{{form.title.data}}</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        <label class="form-label">{{ _('Title') }}</label>
        {{ form.title(class="form-control") }}
    </div>
    <div>
        <label class="form-label">{{ _('Mqtt path') }}</label>
        {{ form.mqtt_path(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Config') }}</label>
        {{ render_editor(form.panel_config, 'json')}}
    </div>
    <button type="submit" name="form_submit" class="btn btn-primary">{{ _('Submit')}}</button>
    <a href="OpenHasp" class="btn btn-secondary">{{ _('Cancel')}}</a>
</form>
{% endblock %}
